@import "~/node_modules/bootswatch/dist/minty/bootstrap.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/*****************************************************************************/
.container-auth {
  background-color: rgba(194, 189, 188, 0.397);
  border-radius: 0.6rem;
  max-width: 80rem;
  margin: 2rem auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.2rem;
  box-shadow: 1.2rem 1.4rem 1.6rem rgba(0, 0, 0, 0.06);
}

.inputcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 0.6rem;
}
.label {
  font-size: 1.6rem;
  cursor: pointer;
}
.input {
  padding: 1.2rem;
  font-size: 1.6rem;
}
.btn {
  font-size: 1.4rem;
  margin-top: 3.2rem;
  padding: 1.2rem;
  width: 100%;
}
.cont {
  width: 60rem;
}
/*******************************************************************/
.list {
  border: 0.2rem solid #444;
  border-radius: 0.6rem;
  max-width: 30rem;
  margin: 0 auto;
  list-style: none;
  margin-top: 1.6rem;
  overflow: hidden;
}
/*********************************************************************/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.checkbox {
  height: 2rem;
  width: 2rem;
}
.label-checkbox {
  font-size: 1.6rem;
}
.btn-submit {
  margin-top: 0;
}
.btn-danger {
  border-radius: 0;
  margin-top: 0;
}
.btn-info {
  margin-top: 0;
  border-radius: 0;
  height: 4.96rem;
  max-width: 10rem;
  border: none;
}
.update-title {
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
}
.update-input {
  border-radius: 0;
  border-right: none;
  border-left: none;
}
/*****************************************************/
.container-upload {
  max-width: 60rem;
  margin: 3.2rem auto;
  padding: 6.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border: 2px dotted #555;
}
